<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
     <head lang="en" th:replace="fragments/head-resources :: resources">

    </head>
    <body>
        <footer th:fragment="footer">

            <div class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <p class="navbar-text pull-left"> &copy; 2017 Spring Framework Guru</p>
                    <p class="navbar-text pull-left"> <a href="#">Privacy</a></p>
                    <p class="navbar-text pull-left"> <a href="#">Terms</a></p>

                    <p class="navbar-text pull-right" style="text-decoration: none;">
                        <a href="#">Back to top</a>
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
